{{ if eq .chezmoi.os "darwin" }}
[".hammerspoon/Spoons/EmmyLua.spoon"]
    type = "archive"
    url = "https://github.com/Hammerspoon/Spoons/raw/master/Spoons/EmmyLua.spoon.zip"
    stripComponents = 1
    refreshPeriod = "720h"
[".hammerspoon/Spoons/ReloadConfiguration.spoon"]
    type = "archive"
    url = "https://github.com/Hammerspoon/Spoons/raw/master/Spoons/ReloadConfiguration.spoon.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "2160h"
{{ end -}}
